swagger: '2.0'
info:
  version: 1.0.2
  title: Metria Fältregistrering API
  description: |
    API för integration mellan "Fornreg/Lämningsregistret" och "Fältregistreringstjänsten" som byggs av Metria.
           
  contact:
    url: https://metria.se
    email: e-support@metria.se
host: metria.se

schemes:
  - https
basePath: /raa-faltreg-api/v1

paths:  
  /metadata:
    post:
      summary: Laddar upp metadata att användas vid fältregistrering av lämningar
      description: Laddar upp metadata att användas vid fältregistrering av lämningar
      parameters:
        - name: metadata
          in: body
          required: true
          schema:
            $ref: '#/definitions/Metadata'
      responses:
        '204':
          description: Metadata mottaget. Inget innehåll returneras.
          schema:
            type: string
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Metadata
    
    get:
      summary: Returnerar installerade metadataversioner i Metria fältserver.
      description: Returnerar installerade metadataversioner i Metria fältserver.
      produces:
        - application/json
      responses:
        '200':
          description: Returnerar installerade metadataversioner.
          schema:
              $ref: '#/definitions/Metadataversion'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'  
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error' 
      tags:
        - Metadata

  /organisation:
    get:
      summary: Listar alla definerade organisationer i Metrias fältserver.
      description: Listar alla definerade organisationer i Metrias fältserver.
      produces:
        - application/json
      responses:
        '200':
          description: Returnerar en lista av organisationer i alfabetisk ordning.
          schema:
            type: array
            items: 
              $ref: '#/definitions/OrganisationIndex'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'  
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error' 
      tags:
        - Organisation

  /organisation/{organisation_id}:
    get:
      summary: Returnerar statusinformation om en upplagd organisation i Metrias fältserver.
      description: Returnerar statusinformation om en upplagd organisation i Metrias fältserver.
      parameters:
        - name: organisation_id
          in: path
          required: true
          type: string
          description: Organisationens orgnr inkl. prefix (16) för juridiskperson. Personnummer för enskild firma.
      produces:
        - application/json
      responses:
        '200':
          description: Returnerar statusinformation om organisationen.
          schema:
            $ref: '#/definitions/Organisation'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'  
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
         - Organisation 


  /organisation/{organisation_id}/faltsession:
    get:
      summary: Returnerar en lista av faltsessioner för angiven organisation.
      description: Returnerar en lista av fältsessioner för angiven organisation.
      parameters:
        - name: organisation_id
          in: path
          required: true
          type: string
          description: Organisationens orgnr inkl. prefix (16) för juridiskperson. Personnummer för enskild firma.
      produces:
        - application/json
      responses:
        '200':
          description: Lista med fältsessioner registrerade för angiven organisation.
          schema:
            type: array
            items:
              $ref: '#/definitions/Faltsession'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'  
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
         - Organisation 

  /faltsession:
    post:
      summary: Skapar en fältsession och tilldelar angiven organisation.
      description: Skapar en fältsession och tilldelar angiven organisation.
      parameters:
        - name: faltsession
          in: body
          required: true
          schema:
            $ref: '#/definitions/FaltsessionPost'
      produces:
        - application/json
      responses:
        '201':
          description: Anger absolut URI till det skapade fältsessionen.
          headers:
            Location:
              type: string
              description: Anger absolut uri till posten. Exempel, .../faltsession/dd179942-9381-48d0-91cf-da00a362f4b9
          schema:
            $ref: '#/definitions/Faltsession'
        '400':
          description: (Bad request). Felaktigt indata angavs för posten (typiskt valideringsfel).
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
            
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Fältsession
  
  /faltsession/{faltsession_id}:
    get:
      summary: Hämtar fältsessionsinformation för angiven fältsession.
      description: Hämtar fältsessionsinformation för angiven fältsession. <br>
        Notera att endast metadata kring fältsessionen returneras - inga lämningar ingår. 
        För att hämta lämningarna för fältsessionen.
      parameters:
        - name: faltsession_id
          in: path
          required: true
          type: string
          description: Anger identiten för fältsessionen (UUID).
      produces:
        - application/json
      responses:
        '200':
          description: En fältsession.
          schema:
            $ref: '#/definitions/Faltsession'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Fältsession
        
    delete:
      summary: Raderar en fältsession.
      description: Raderar en fältsession samt alla ev. lämningar ingående i sessionen.
      parameters:
        - name: faltsession_id
          in: path
          format: uuid
          required: true
          type: string
          description: UUID för ett faltsession
      responses:
        '204':
          description: (No Content). Faltsessionen raderades. Inget innehåll returneras.
        '400':
          description: (Bad request). Felaktig indata.
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: (Unauthorized). Användaren är inte inloggad.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not Found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal Server Error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Fältsession
        
  /faltsession/{faltsession_id}/lamning/search:
    post:
      summary: Söker ut och returnerar lista med angivna lämningar för angiven fältsession.
      description: |
        Söker ut och returnerar lista av angiva lämningar för en fältsession.
    
      parameters:
        - name: faltsession_id
          in: path
          required: true
          type: string  
          description: Anger identitet (UUID) för en fältsession.
        - name: faltLamningSearch
          in: body
          required: false
          schema:
            $ref: '#/definitions/FaltlamningSearch'    
          
      produces:
        - application/json
      responses:
        '200':
          description: (OK). En lista med lämningar returneras.
          schema:
            type: array
            items:
              $ref: '#/definitions/Faltlamning'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
        - Fältsession

  /faltsession/{faltsession_id}/lamning:
    get:
      summary: Hämtar lista med kompletta lämningar för angiven fältsession.
      description: |
        Hämtar en lista av kompletta lämningar för angiven fältsession.
      parameters:
        - name: faltsession_id
          in: path
          required: true
          type: string  
          description: Anger identitet (UUID) för en fältsession.
      produces:
        - application/json
      responses:
        '200':
          description: (OK). En lista med lämningar returneras.
          schema:
            type: array
            items:
              $ref: '#/definitions/Faltlamning'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
        - Fältsession

    post:
      summary: Adderar en lista av lämningar till angiven fältsession.
      description: Adderar en lista av lämningar till angiven fältsession. 
      parameters:
        - name: faltsession_id
          in: path
          required: true
          type: string
          description: Anger identitet (UUID) för ett fältsession.
        - name: faltLamningPost
          in: body
          required: true
          schema:
            $ref: '#/definitions/FaltlamningPost'
      produces:
        - application/json
      responses:
        '201':
          description: (Created). Angivna lämningar skapades i faltsessionen. En tom body returneras.
        '400':
          description: (Bad request). Felaktigt indata angavs för posten (typiskt valideringsfel).
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: (Forbidden). Användaren saknar behörighet för angiven fältsession.
          schema:
            $ref: '#/definitions/Error'              
        '404':
          description: Angivet faltsession_id kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'            
      tags:
        - Lämning
        - Fältsession

    delete:
      summary: Raderar angivna lämningar från en fältsession.
      description: Raderar angivna lämningar från angiven fältsession.
      parameters:
        - name: faltsession_id
          in: path
          format: uuid
          required: true
          type: string
          description: UUID för en fältsession
        - name: faltLamningPost
          in: body
          required: true
          schema:
            $ref: '#/definitions/FaltlamningDelete'  
      responses:
        '204':
          description: (No Content). Angivna lämningar i fältsessionen raderades. Inget innehåll returneras.
        '400':
          description: (Bad request). Felaktig indata.
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: (Unauthorized). Användaren är inte inloggad.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not Found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal Server Error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
        - Fältsession

  /faltsession/{faltsession_id}/lamningindex:
    get:
      summary: Hämtar lista med lämningar i 'index-format' för angiven fältsession.
      description: |
        Hämtar en lista av lämningar i 'index-format' för angiven fältsession.
        Med 'index-format' avses att endast lämningens signifikanta attribut returneras. T ex utelämnas bl a geometrin för lämningarna.
        Tjänsten är lämplig att anropa för att lista vilka lämningar som finns kopplade till fältsessionen.
        Se även tjänsten GET /faltsession/falsession_id/lamning för att hämta en lista av kompletta lämningar.
      parameters:
        - name: faltsession_id
          in: path
          required: true
          type: string  
          description: Anger identitet (UUID) för en fältsession.
      produces:
        - application/json
      responses:
        '200':
          description: (OK). En lista med lämningar returneras.
          schema:
            type: array
            items:
              $ref: '#/definitions/FaltlamningIndex'
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: (Not found). Angiven post kunde inte hittas.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
        - Fältsession

        
  /echo/{message}:
    get:
      summary: Tjänst avsedd för att utföra sambandstest.
      description: Tjänst avsedd för att utföra sambandstest. Jmf Hello world!
      parameters:
        - in: path
          name: message
          description: Värdet för det 'eko' som ska returneras tillbaka till klienten.
          required: true
          type: string
      produces:
        - application/json
      responses:
        '401':
          description: (Unauthorized). Användaren är inte inloggad (autentiserad).
          schema:
            $ref: '#/definitions/Error'      
        '200':
          description: (OK). Ett json-objekt med attributet 'echo' returneras.
          schema:
            $ref: '#/definitions/Echo'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'    
      tags:
        - Övriga tjänster

definitions:

  Aktualitetstatus:
    description: Objektrepresentation för en aktualitetstatusinstans.
    type: object
    required:
      - aktualitetstatustyp_id
    properties:
      aktualitetstatustyp_id:
        type: integer
        description: Anger identiteten för angiven aktualitetstatus.
        example: 1
      aktualitetstatus_kommentar:
        type: string
        description: Anger kommentar till lämningens angivna aktualitetstatus.

  Aktualitetstatustyp:
    description: Objektrepresentation för en aktualitetstatustyp.
    type: object
    properties:
      aktualitetstatustyp_id:
        type: integer
        description: Anger stabil identitet för aktualitetstatustypen.
        example: 1
      namn:
        type: string
        description: >-
          Anger namnet för angiven aktualitetstatus (lämpligt för  presentation). 
        example: Bekräftad i fält.
      beskrivning:
        type: string
        description: >-
          Anger beskrivning för angivet aktualitetstatus (lämpligt för
          hjälptext). 
        example: Det finns en uppgift om den här lämningen men den är inte bekräftad
      sorteringsordning:
        type: integer
        description: Anger ordning för sortering. (Ascending sortorder)
        example: 10
      aktiv:
        type: boolean
        description: >-
          Anger om aktualitetstatustypen är aktiv (true) och kan användas vid
          registrering.
        example: true

  AntikvariskBedomningtyp:
      description: Objektrepresentation för den antikvariska bedömingstypen.
      type: object
      required:
        - antikvariskbedomningtyp_id
        - namn
        - beskrivning
        - sorteringsordning
        - aktiv
      properties:
        antikvariskbedomningtyp_id:
          type: integer
          description: Anger stabil identitet för en antikvarisk bedömning. 
            Se befintliga värden i resurs /antikvariskbedomningtyp
          example: 1
        namn:
          type: string
          minLength: 1
          maxLength: 255
          description: Anger namnet för angiven lämningstyp (lämpligt för presentation).
          example: Fornlämning
        beskrivning:
          type: string
          description: Anger beskrivning av den antikvariska bedömningen.
          example: Objektet är en fornlämning och därmed skyddad av lag.
        sorteringsordning:
          type: integer
          description: Anger logisk ordning. (Ascending sortorder)
          example: 0
        aktiv:
          type: boolean
          description: Anger om lämningstypen är aktiv enligt lämningstyplistan.
          example: true

  Echo:
    type: object
    description: Objekt för att representera svaret till echo-tjänsten.
    properties:
      echo:
        description: Anger värdet som som skickades in till tjänsten.
        type: string

  Egenskap:
    description: Objektrepresentation för en egenskap.
    type: object
    properties:
      egenskapstyp_id:
        type: integer
        description: Anger identiteten för egenskapstypen.
        example: 10046
      egenskapsvarden:
        description: >
          Anger lista av egenskapsvärden som är kopplade till egenskapstypen. 
          Sorterad i alfabetisk ordning på egenskapsvärdets namn (attributet egenskapsvarde_namn).<br>
          Notera att egenskapsvärden kan vara flervärda - därav en array av egenskapsvärden.
        type: array
        items:
          $ref: '#/definitions/Egenskapsvarde'
          
  Egenskapsvarde:
    description: Objektrepresentation för en egenskap.
    type: object
    properties:      
      egenskapsvarde_id:
        type: integer
        description: Anger identitet för ett egenskapsvärde.
        example: 107

  Egenskapstyp:
    description: Objektrepresentation för en egenskapstyp.
    type: object
    properties:
      egenskapstyp_id:
        type: integer
        description: Anger stabil identitet för egenskapen.
        example: 10046
      namn:
        type: string
        maxLength: 255
        description: Anger namnet för egenskapstypen.
        example: Grav
      beskrivning:
        type: string
        description: Anger beskrivning för egenskapstypen.
        example: bla bla...
      flervalsvarde:
        type: boolean
        description: Anger om egenskapstypen är flervärdig (true) eller endast kan
          förekomma en gång för egenskapen (false).
        example: true
      egenskapsvarden:
        description: Anger lista av egenskapsvärden som är kopplade till egenskapstypen. 
          Sorterad i alfabetisk ordning på egenskapsvärdets värde (Namnet på
          egenskapsvärdet).    
        type: array
        items:
          $ref: '#/definitions/Egenskapsvardetyp'
      aktiv:
        type: boolean
        description: Anger om egenskapstypen är aktiv och kan användas vid registrering.


  Egenskapsvardetyp:
    description: Objektrepresentation för ett egenskapsvarde.
    type: object
    properties:
      egenskapsvarde_id:
        type: integer
        description: Anger stabil identitet för ett egenskapsvärde.
        example: 107
      rekommenderad_antikvariskbedomningtyp_id:
        type: integer
        description: Rekommenderad antikvarisk bedömning för lämningstyp, kan vara null
        example: 1
      varde:
        type: string
        maxLength: 255
        description: Anger själva värdet för egenskapsvärdet.
        example: Skärvsten
      aktiv:
        type: boolean
        description: Anger om egenskapsvärdet är aktivt (true) och kan användas vid
          registrering.
          
  Error:
    description: Objektrepresentation av felmeddelanden.
    type: object
    required:
      - status
      - message
      - path
      - timestamp
    properties:
      status:
        type: integer
        example: 500
        description: Http statuskod
      message:
        type: string
        example: 'Tekniskt fel, försök senare'
        description: Innehåller ett felmeddelande tänkt att presenteras för slutanvändare
      exception:
        type: string
        example: java.lang.NullPointerException
        description: Innehåller ett felmeddelande tänkt för tekniker vid felsökning
      path:
        type: string
        example: /lamning
        description: Anger den resourcepath där felet uppstod
      timestamp:
        type: string
        format: dateTime
        description: Anger tidpunkten när felet inträffade. 
          Tidpunkt anges enligt defined by full-date - RFC3339.
          Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
          Syntax; <date-fullyear>-<date-month>-<date-mday> <time-hour>:<time-minute>:<time-second>
        example: '2017-10-30 08:00:18'
      code:
          description: "Kod som beskriver vilket fel som inträffat:
            <ul>
              <li>INVALID_OR_MISSING_VALUE: Ett värde var ogiltigt, felaktigt formatterat eller saknades, till exempel obligatoriskt fält saknades</li>
              <li>METADATA_VALIDATION_FAILED: Det skedde ett fel då metadata skulle valideras, till exempel inaktivt metadata-värde angivet</li>
              <li>INCORRECT_INPUT_FORMAT: Indata-formatet var felaktigt, felet fås då till exempel felaktig json-syntax angivits</li>
              <li>DATABASE_CONSTRAINT_ERROR: Fel vid skrivning till databas</li>
              <li>GENERIC_ERROR_OCCURRED: Okänt fel intäffade</li>
            </ul>"
          $ref: '#/definitions/ErrorCodes'

  ErrorCodes:
      type: string
      enum:
        - INVALID_OR_MISSING_VALUE
        - METADATA_VALIDATION_FAILED
        - INCORRECT_INPUT_FORMAT
        - DATABASE_CONSTRAINT_ERROR
        - GENERIC_ERROR_OCCURRED

  Faltsession:
    description: Objektrepresentation av en fältsession.
    type: object
    required:
      - faltsession_id
      - organisation_id
      - namn
    properties:
      faltsession_id:
        type: string
        format: uuid
        description: Anger identiten för fältsessionen.
        example: 255c3b03-cf96-48b2-ab5a-fa5b4016be04
      organisation_id:
        type: string
        description: Anger organisationsnumret för den organisation som en fältsession tillhör.
        minLength: 12
        maxLength: 12
        example: 165544332211
      namn:
        type: string
        description: Anger fältsessionens namn.
        example: '201800034 Nyskoga'
      beskrivning:
        type: string
        example: 'Ett fältsession...'
        description: Kort beskrivning av fältsessionen.
      faltsessionsomrade:
        $ref: '#/definitions/FeatureCollectionFaltsessionomrade' 
      skapad_tidpunkt:
          type: string
          format: date-time
          description: Anger tidpunkten när posten skapades.
            Tidpunkt anges enligt defined by full-date - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday> <time-hour>:<time-minute>:<time-second>
          example: '2017-10-30 08:00:18'
      senast_andrad:
          type: string
          format: date-time
          description: Anger tidpunkten när posten senast ändrades.
            Tidpunkt anges enligt defined by full-date-time - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday>T<time-hour>:<time-minute>:<time-second><time-numoffset>
          example: '2018-12-04T12:55:14.285+01:00'    
      version: 
        type: integer
        description: |
          Anger aktuellt versionsnummer för fältsessionen och dess ingående lämningar. 
          Varje gång en lämning adderas/raderas från en fältsession räknas versionsnumret upp. 
        example: 27            
         
  FaltsessionPost:
    description: Parameterobjekt för att skapa en fältsession.
    type: object
    required:
      - organisation_id
      - namn
    properties:
      faltsession_id:
        type: string
        format: uuid
        description: Anger den ev.identitet (uuid) en klient vill använda som identitet för en fältsession.
          Om attributet utelämnas genereras identiteten av systemet. 
      organisation_id:
        type: string
        description: Anger organisationsnumret för den organisation som en fältsession tillhör.
        minLength: 12
        maxLength: 12
        example: '165544332211'        
      namn:
        type: string
        description: Anger fältsessionens namn.
        maxLength: 50
        example: '201800205 - Nyskoga'
      beskrivning:
        type: string
        example: 'Ett fältsession...'
        description: Kort beskrivning av fältsessionen.
      faltsessionsomrade:
        $ref: '#/definitions/FeatureCollectionFaltsessionomrade'
  
  Faltlamning:
    description: |
      Objektrepresentation för en fältlämning innehållande de attribut som kan registreras i fält.
      Notera att attribut uppmärka som obligatoriska avser de attribut som är obligatoriska när en lämning skickas 
      från Fornreg till Fältservern.
    type: object
    required:
      - lamning_id
      - lamningsnummer
      - lamningstyp_id
      - nuvarande_lage
      - aktualitetstatus
      - undersokningsstatus
      - skadestatus
    properties:
      lamning_id:
        type: string
        format: uuid
        description: Anger lämningens identitet (uuid). 
          Notera att detta id är att betrakta som ett read-only för befintliga lämningar. 
          Men för nya lämningar ska fältverktyget självt generera dessa. 
        example: ccf0a7f9-1f4c-421f-a321-0e36daea43eb
      lamningsnummer:
        type: string
        format: string
        description: Anger lämningsnumret för lämningen. (read-only)
        example: 'L2017:1'
      tillfallig_arbetsidentitet:
          type: string
          description: Anger tillfällig arbetsidentitet för lämningen. Används typiskt som arbetsnamn i fält för nya lämningar. 
          example: objekt_1
          maxLength: 300
      lamningstyp_id:
        type: integer
        format: int32
        minimum: 101
        description: Anger lämningstyp_id för lämningen. Ex, 1001= lämningstypen
          'Avrättningsplats'. 
        example: 1035
      antikvariskbedomningtyp_id:
        type: integer
        description: Anger identiteten för lämningens antikvariska bedömningstyp.
        example: 1
      antikvariskbedomning_motivering:
        type: string
        description: Anger motivering till varför den antikvariska bedömningen av lämningen avviker från den rekommenderade. <br>
          Notera att antikvarisk motivering endast förekommer när den antikvariska bedömningen avviker från den rekommenderade.
      antikvarisk_kommentar:
        type: string
        description: Anger kommentar för att tydliggöra resonemang kring, och motivering av, den antikvariska bedömningen av en lämning.
      beskrivning:
        type: string
        description: Anger beskrivningstext för lämningen.
      aktualitetstatus:
        $ref: '#/definitions/Aktualitetstatus' 
      undersokningsstatus:
        $ref: '#/definitions/Undersokningsstatus'    
      skadestatus:
        $ref: '#/definitions/Skadestatus'
      egenskaper:
        description: 
          Array innehållande de ev. egenskapsvärden som kan anges för aktuell lämningstyp.
        type: array
        items:
          $ref: '#/definitions/Egenskap'  
      ingaendelamningar:
        description: Array innehållande lämningens ev. ingående lämningar (förutsätter att lämningen är en s.k. sammansatt lämningstyp). <br>
          Arrayen är sorterad i alfabetisk ordning på lämningstypens namn. <br>
          Notera - om lämningen saknar ingående lämningar är arrayen tom. Ex; [].
        type: array
        items:
          $ref: '#/definitions/Ingaendelamning'     
      uppgiftslamnare_referenser:
        description: Array innehållande lämningens ev. uppgiftslämnare referenser. <br>
          Notera - om lämningen saknar referenser är arrayen tom. Ex; [].
        type: array
        items:
          $ref: '#/definitions/Uppgiftslamnare'
      placeringtyp_id:
        type: integer
        description: Anger lämningens placeringstyp.
        example: 1
      alternativnamn:
        description: Array innehållande lämningens alternativnamn. <br>
          Notera - om lämningen saknar alternativnamn är arrayen tom. Ex; [].
        type: array
        items:
          type: string
          maxLength: 300
          example: 'Rökstenen'  
      faltdatum:
        type: string
        format: date
        description: Tidpunkt anges enligt defined by full-date - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday>
        example: '2017-10-30'
      orientering:
        type: string
        description: Anger lämningens orientering i förhållande till andra fasta,
          beständiga och väl synliga företeelser i omgivningen såsom hus,
          stigar, gränser etc.
        example: 32 m N om stig (ÖV).    
      terrang:
        type: string
        description: Anger ev. beskrivning av terrängen vid lämningens belägenhet med geologiska och topografiska termer, samt i vilket markslag lämningen ligger. 
        example: Udde, hagmark.
      vegetation:
        type: string
        description: Anger ev. beskrivning av vegetationen som växer vid lämningen.
        example: Kraftigt övermossad.
      tradition:
        type: string
        description: Anger skriftlig eller muntlig tradition som är knuten till en lämning.
        example: Kraftigt övermossad.
      nuvarande_lage:
        $ref: '#/definitions/NuvarandeLage'  
      senast_andrad:
          type: string
          format: date-time
          description: Anger tidpunkten när posten senast ändrades.
            Tidpunkt anges enligt defined by full-date-time - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday>T<time-hour>:<time-minute>:<time-second><time-numoffset>
          example: '2018-12-04T12:55:14.285+01:00'

  FaltlamningIndex:
    description: |
      Objektrepresentation för en fältlämnings mest signifikanta attribut, dvs lämningens är inte komplet.
      
    type: object
    required:
      - lamning_id
      - lamningstyp_id
      - tillfallig_arbetsidentitet
      - senast_andrad
    properties:
      lamning_id:
        type: string
        format: uuid
        description: Anger lämningens identitet (uuid). 
          Notera att detta id är att betrakta som ett read-only för befintliga lämningar. 
          Men för nya lämningar ska fältverktyget självt generera dessa. 
        example: ccf0a7f9-1f4c-421f-a321-0e36daea43eb
      lamningsnummer:
        type: string
        format: string
        description: Anger lämningsnumret för lämningen. (read-only)
        example: 'L2017:1'
      tillfallig_arbetsidentitet:
          type: string
          description: Anger tillfällig arbetsidentitet för lämningen. Används typiskt som arbetsnamn i fält för nya lämningar. 
          example: objekt_1
          maxLength: 300
      lamningstyp_id:
        type: integer
        format: int32
        minimum: 101
        description: Anger lämningstyp_id för lämningen. Ex, 1001= lämningstypen
          'Avrättningsplats'. 
        example: 1035
      senast_andrad:
          type: string
          format: date-time
          description: Anger tidpunkten när posten senast ändrades.
            Tidpunkt anges enligt defined by full-date-time - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday>T<time-hour>:<time-minute>:<time-second><time-numoffset>
          example: '2018-12-04T12:55:14.285+01:00'

  FaltlamningPost:
    description: Parameterobjekt för att addera lämningar kopplade till en fältsession.
    type: object
    required:
      - faltlamning
    properties:
      faltlamning:
        description: 
          Array innehållande de lamningar som ska adderas till angiven fältsession.
        type: array
        items:
          $ref: '#/definitions/Faltlamning'
          
  FaltlamningDelete:
    description: Parameterobjekt för att radera lämningar kopplade till en fältsession.
    type: object
    required:
      - faltlamning
    properties:
      faltlamning:
        description: 
          Array innehållande identiteter(uuid) till de lämningar som ska raderas från en fältsession. 
        type: array
        items:
          type: string
          format: uuid      
          example: ccf0a7f9-1f4c-421f-a321-0e36daea43eb
  
  FaltlamningSearch:
    description: Parameterobjekt för att hämta lämningar kopplade till en fältsession.
    type: object
    required:
      - faltlamning
    properties:
      faltlamning:
        description: 
          Array innehållande identiteter(uuid) till de lämningar som ska hämtas från en fältsession. 
        type: array
        items:
          type: string
          format: uuid      
          example: ccf0a7f9-1f4c-421f-a321-0e36daea43eb
     
  FeatureCollectionLamning:
    description: Anger den geografiska utbredningen för en lämnings geometri i form av ett objekt av typen "http://geojson.org/geojson-spec.html#feature-collection-objects".  
      De geometrityper som kan förekomma är av någon av typerna:<br> <br> 
      - Point ("http://geojson.org/geojson-spec.html#point")<br> 
      - LineString ("http://geojson.org/geojson-spec.html#linestring")<br> 
      - Polygon ("http://geojson.org/geojson-spec.html#polygon")<br> <br> 
    type: object
    required:
      - type
      - crs
      - features
    additionalProperties: true
    properties:
      type:
        type: string
        enum:
          - FeatureCollection
      crs:
        type: object
        required:
          - type
        properties:
          type:
            type: string
            enum:
              - name
          properties:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                example: 'EPSG:3006'
                description: Anger koordinatsystemet för lämningsgeometri.
      features:
        type: array
        items:
          type: object
          required:
            - type
            - id
            - properties
            - geometry
          properties:
            type:
              type: string
              enum:
                - Feature
            id:
              type: string
              description: Anger unik och stabil identitet (geometrinummer) för aktuell feature. <br> 
                Geometrinumret har syntaxen; Lämningsnummer-<lämningsgeometrilöpnummer>. <br>
                Obs! För nya geometrier som saknar geometrinummer så skall värdet inget värde anges - detta för att markera att geometrin är nyskapad.                          
              example: 'L2017:105-4'
            geometry:
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - Point
                    - Polygon
                    - LineString
                coordinates:
                  additionalProperties: true
                  type: array
                  items:
                    type: array
                    items:
                      type: array
                      items:
                        type: number  
            properties:
              type: object
              additionalProperties: true
    
  Ingaendelamning:
    description: Objektrepresentation för att representera en s.k ingående lämning för en sammansatt lämning.
    type: object
    properties:
      lamningstyp_id:
        type: integer
        description: Anger identiteten för den aktuella ingående lämningstypen.
        example: 101
      antal:
        type: integer
        description: Anger antalet ingående lämningar av den aktuella ingående lämningstypen (som ingår för den aktuella sammansatta lämningen). <br>
          Exempel; 5 st lämningar av den ingående lämningstypen 'grav' i den sammansatta lämningstypen 'gravfält'.
        example: 5  
      egenskaper:
        description: 
          Array innehållande de ev. egenskapsvärden som kan anges för den aktuella ingåendelämningstypen.
        type: array
        items:
          $ref: '#/definitions/Egenskap'
  
  Ingaendelamningstyp:
    description: Objektrepresentation för en ingående lämningstyp.
    type: object
    properties:
      lamningstyp_id:
        type: integer
        description: Anger stabil identitet för lämningstypen.
        example: 101
      namn:
        type: string
        minLength: 1
        maxLength: 255
        description: Anger namnet för angiven lämningstyp (lämpligt för presentation). Ex; 'Blästplats'.

  KategoriTyp:
    description: Objektrepresentation för en lämningstypkategorityp.
    type: object
    properties:
      kategorityp_id:
        type: integer
        description: 'Anger stabil identitet för kategoritypen. <br> Ex: 11'
      namn:
        type: string
        description: Anger namnet för angiven lämningsstypkategori (lämpligt för
          presentation).
        example: Agrara lämningar

  Lamningstyp:
    description: Objektrepresentation för en lämningstyp.
    type: object
    required:
      - lamningstyp_id
      - namn
      - definition
      - kategorier 
      - aktiv
    properties:
      lamningstyp_id:
        type: integer
        description: Anger stabil identitet för lämningstypen.
        example: 100
      namn:
        type: string
        minLength: 1
        maxLength: 255
        description: Anger namnet för angiven lämningstyp (lämpligt för presentation).
        example: 'Avrättningsplats'   
      egenskapstyper:
        description: Anger lista av ev. egenskapstyper som är kopplade till lämningstypen. 
          Sorterad i alfabetisk ordning på egenskapstypens namn.  
        type: array
        items:
          $ref: '#/definitions/Egenskapstyp'
      ingaendelamningstyper:
        description: >
          Anger lista av ev. ingående lämningstyper som kan ingå i lämningstypen. 
          Ingående lämningstyper är sorterade i alfabetisk ordning på lämningstypsnamn.  
        type: array
        items:
          $ref: '#/definitions/Ingaendelamningstyp'
      definition:
        type: string
        description: Anger lämningstypens definition enligt lämningstyplistan.
        example: >-
          Plats där avrättningar verkställdes från medeltid fram till
          1800-talets mitt.
      kommentar:
        type: string
        description: Anger en kommentar för lämningstypen enligt LTL.
        example: >-
          Rester efter särskilda anläggningar eller konstruktioner kan
          förekomma. Ofta har de avrättade begravts i omedelbar närhet av
          avrättningsplatsen. Jfr Begravningsplats enstaka..
      beskrivningsprinciper:
        type: string
        description: Anger principer för hur lämingstypen ska beskrivas.
      beskrivningsexempel:
        type: string
        description: Anger ett exempel på hur lämningen ska beskrivas.
      antikvariskbedomning_kommentar:
        type: string
        description: Anger information för lämningstypen ska bedömas enligt LTL.
        example: >-
          Avrättningsplats bedöms inte som fornlämning om den kan antas ha
          tillkommit 1850 eller senare. Under 1800-talet skedde de flesta
          avrättningarna i fängelserna. Enstaka avrättningsplatser är dock
          använda under 1850-talet (se t.ex. Varnhem 86:1). När dessa
          avrättningsplatser tillkom är dock ofta oklart..
      kategorier:
        description: Array innehållande de lämningstypkategorier som lämningen tillhör.
        type: array
        items:
          $ref: '#/definitions/KategoriTyp'
      rekommenderad_antikvariskbedomningtyp_id:
        type: integer
        description: Rekommenderad antikvarisk bedömning för lämningstyp, kan vara null
        example: 1
      aktiv:
        type: boolean
        description: Anger om lämningstypen är aktiv eller ej (relevant vid nyregistrering av en lämningtyp).

  Matmetodtyp:
      description: Objektrepresentation för en mätmetodtyp.
      type: object
      properties:
        matmetodtyp_id:
          type: integer
          description: Anger stabil identitet för mätmetodtypen.
          example: 4
        namn:
          type: string
          description: 'Anger namnet för angiven mätmetodtyp (lämpligt för presentation). '
          example: Totalstation
        felmarginal_meter:
          type: number
          format: float
          description: Anger defaultvärdet för mätmetodens felmarginal uttryckt i meter.
          minLength: 0
          minimum: 0.0001
          maximum: 9999.9999
          example: 0.025
        sorteringsordning:
          type: integer
          description: Anger ordning för sortering. (Ascending sortorder)
          example: 10
        aktiv:
          type: boolean
          description: >-
            Anger om mätmetodtypen är aktiv (true) och kan användas vid
            registrering.
          example: true

  Metadata:
    description: Objektrepresentation av metadatadefinitioner avsedd att användas vid fältfångst av lämningar.
    type: object
    required:
      - metadata_version
      - lamningstyplista_version
      - aktualitetstatus
      - antikvariskbedomning
      - lamningstyplista
      - matmetod
      - placering
      - registreringsunderlag
      - skadestatus
      - undersokningsstatus
    properties:
      metadata_version:
        description: |
          Anger versionsnummer för de metadatadefinitioner som ingår i denna payload. (Hämtas från flyway versionsnummer).         
        type: string
        maxLength: 50
        example: '012'
      lamningstyplista_version:
        description: |
          Anger versionsnummer för den lämningstyplista vars metadatadefinitioner ingår i denna payload (se attributet lamningstyplista).         
        type: string
        maxLength: 50
        example: '4.6'
      aktualitetstatus:
        description: Anger metadata definitioner avseende aktualitetstatus.        
        type: array
        items:
          $ref: '#/definitions/Aktualitetstatustyp'
      antikvariskbedomning:
        description: Anger metadata definitioner avseende antikvariskbedomning.        
        type: array
        items:
          $ref: '#/definitions/AntikvariskBedomningtyp'
      lamningstyplista:
        description: Anger metadata definitioner för lämningstypinformation.        
        type: array
        items:
          $ref: '#/definitions/Lamningstyp'
      matmetod:
        description: Anger metadata definitioner avseende matmetod.        
        type: array
        items:
          $ref: '#/definitions/Matmetodtyp'
      placering:
        description: Anger metadata definitioner avseende placering (placering i landskapet).        
        type: array
        items:
          $ref: '#/definitions/PlaceringTyp'    
      registreringsunderlag:
        description: Anger metadata definitioner avseende registreringsunderlag.        
        type: array
        items:
          $ref: '#/definitions/Registreringsunderlagtyp'
      skadestatus:
        description: Anger metadata definitioner avseende skadestatus.        
        type: array
        items:
          $ref: '#/definitions/Skadestatustyp'
      undersokningsstatus:
        description: Anger metadata definitioner avseende undersökningsstatus.        
        type: array
        items:
          $ref: '#/definitions/Undersokningsstatustyp'                 
   
  Metadataversion:
    description: Objektrepresentation av metadataversionsnummer i Metria fältserver.
    type: object
    required:
      - metadata_version
      - lamningstyplista_version
    properties:
      lamningstyplista_version:
        description: |
          Anger installerad versionsnummer för den lämningstyplista som Metria fältserver använder.         
        type: string
        maxLength: 50
        example: '012'
      metadata_version:
        description: |
          Anger installerad versionsnummer för de metadatadefinitioner som Metria fältserver använder.         
        type: string
        maxLength: 50
        example: '012'
      senast_andrad:
          type: string
          format: date-time
          description: Anger tidpunkten när posten senast ändrades.
            Tidpunkt anges enligt defined by full-date-time - RFC3339.
            Se RFC3339 (Internet Date/Time Format) http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14
            Syntax; <date-fullyear>-<date-month>-<date-mday>T<time-hour>:<time-minute>:<time-second><time-numoffset>
          example: '2018-12-04T12:55:14.285+01:00'

  NuvarandeLage:
    description: | 
      Objektrepresentation för en lämnings "nuvarande läge", dess geometri och kvalitetsegenskaper för hur inmätningen av lämningen genomfördes.
      Notera att attribut uppmärka som obligatoriska avser de attribut som är obligatoriska när en lämning skickas 
      från Fornreg till Fältservern.
    type: object
    required:
      - registreringsunderlagtyp_id
      - registreringsunderlagkvalitettyp_id
      - matmetodtyp_id
      - geometri
      - felmarginal_meter
    properties:
      registreringsunderlagtyp_id:
        type: integer
        description: Anger stabil identitet för den registreringsunderlagstyp som användes vid inmätningen.
        example: 101
      registreringsunderlagkvalitettyp_id:
        type: integer
        description: Anger stabil identitet till den registreringsunderlagskvalitettyp som användes vid inmätningen. <br>
          Registreringsunderlagskvalittetypen är alltid kopplad till det registreringsunderlag som användes vid inmätningen.
          T ex så är kvalitettypen 'Skala 1:5000' kopplad till registreringsunderlagstypen 'Fastighetskartan/utskrivet ortofoto'.        
        example: 203
      matmetodtyp_id:
        type: integer
        description: Anger stabil identitet för den mätmetodtyp som användes vid inmätningen.
        example: 4  
      felmarginal_meter:
        type: number
        format: float
        description: Anger inmätningens felmarginal uttryckt i meter.
        minimum: 0.0000
        maximum: 9999.9999 
        example: 0.025
      kvalitetsmarkning:
        type: string
        description: Anger beskrivning av kvalitet avseende inmätning. 
        example: Avvikelse upp till 10 meter... 
      inmatning_kommentar:
        type: string
        description: Anger ev. kommentar för hur inmätningen genomfördes.
        example: 'Vid inmätningen använde GPS:en 22 satelliter.'
      min_meter_over_havet:
        type: integer
        description: Anger lägsta punkten uttryckt i meter för lämningens utbredning.
        example: 15
      max_meter_over_havet:
        type: integer
        description: Anger högsta punkten uttryckt i meter för lämningens utbredning.
        example: 20
      geometri:
        $ref: '#/definitions/FeatureCollectionLamning'
  
  Organisation:
    description: Objektrepresentation av ett organisation i Metrias fältfångstsystem.
    type: object
    required:
      - organisation_id
      - namn
    properties:
      organisation_id:
        type: string
        description: Anger organisationsnumret för organisationen.
        minLength: 12
        maxLength: 12
        example: '165544332211'        
      namn:
        type: string
        description: Anger organisationens namn.
        example: 'Arkeolog AB'
  
  OrganisationIndex:
    description: ->
      Objektrepresentation av ett organisation i Metrias fältfångstsystem i 'index' format (lämpligt för rendering i lista).
    type: object
    required:
      - organisation_id
      - namn
    properties:
      organisation_id:
        type: string
        description: Anger organisationsnumret för organisationen.
        minLength: 12
        maxLength: 12
        example: '165544332211'        
      namn:
        type: string
        description: Anger organisationens namn.
        example: 'Arkeolog AB'
  
  PlaceringTyp:
      description: Objektrepresentation för en placeringstyp.
      type: object
      properties:
        placeringtyp_id:
          type: integer
          description: Anger stabil identitet för placeringstypen.
          example: 1
        namn:
          type: string
          description: 'Anger namnet för angiven placeringstyp (lämpligt för presentation). '
          example: Ej synlig ovan mark
        beskrivning:
          type: string
          description: Anger beskrivning av den antikvariska bedömningen.
          example: Objektet är en fornlämning och därmed skyddad av lag.
        sorteringsordning:
          type: integer
          description: Anger logisk ordning. (Ascending sortorder)
          example: 0
        aktiv:
          type: boolean
          description: >-
            Anger om placeringstypen är aktiv (true) och kan användas vid
            registrering.
          example: true

  Registreringsunderlagtyp:
      description: Objektrepresentation för en registreringsunderlagtyp.
      type: object
      properties:
        registreringsunderlagtyp_id:
          type: integer
          description: Anger stabil identitet för en registreringsunderlagtyp.
          example: 100
        namn:
          type: string
          description: Anger namnet för angiven registreringsunderlagtyp (lämpligt för
            presentation).
          example: Fastighetskartan/utskrivet ortofoto
        registreringsunderlagkvaliteter:
          type: array
          items:
            $ref: '#/definitions/Registreringsunderlagkvalitettyp'
        sorteringsordning:
          type: integer
          description: Anger ordning för sortering. (Ascending sortorder)
          example: 10
        aktiv:
          type: boolean
          description: Anger om registreringsunderlagtypen är aktiv (true) och kan användas vid registrering.
          example: true

  Registreringsunderlagkvalitettyp:
      description: Objektrepresentation för en registreringsunderlagkvalitettyp.
      type: object
      properties:
        registreringsunderlagkvalitettyp_id:
          type: integer
          description: Anger stabil identitet för en registreringsunderlagkvalitettyp.
          example: 101
        namn:
          type: string
          description: Anger namnet för angiven registreringsunderlagkvalitettyp (lämpligt för presentation).
          example: 'Skala 1:5000'
        default_kvalitet:
          type: boolean
          description: Anger om registreringsunderlagkvalitettypen är defaultval som
            kvalitetstyp för det aktuella registreringsunderlaget eller ej.
          example: false
        sorteringsordning:
          type: integer
          description: Anger ordning för sortering. (Ascending sortorder)
          example: 40
        aktiv:
          type: boolean
          description: Anger om registreringsunderlagkvalitettypen är aktiv (true) och kan
            användas vid registrering.
          example: true

  Skadestatus:
    description: Objektrepresentation för en skadestatusinstans.
    type: object
    required:
      - skadestatustyp_id
    properties:
      skadestatustyp_id:
        type: integer
        description: Anger identiteten för angiven skadestatus.
        example: 1
      skadestatus_kommentar:
        type: string
        description: Anger kommentar till lämningens angivna skadestatus.

  Skadestatustyp:
    description: Objektrepresentation för en skadestatustyp.
    type: object
    properties:
      skadestatustyp_id:
        type: integer
        description: Anger stabil identitet för skadestatustypen.
        example: 0
      namn:
        type: string
        description: Anger namnet för angiven skadestatus (lämpligt för presentation).
        example: Ringa åverkan
      beskrivning:
        type: string
        description: Anger beskrivning för angivet skadestatusvärde (lämpligt för hjälptext). 
        example: Ringa åverkan
      sorteringsordning:
        type: integer
        description: Anger logisk ordning. (Ascending sortorder)
        example: 20
      aktiv:
        type: boolean
        description: Anger om skadestatustypen är aktiv (true) och kan användas vid registrering.
        example: true

  Undersokningsstatus:
    description: Objektrepresentation för en undersökningsstatusinstans.
    type: object
    required:
      - undersokningsstatustyp_id
    properties:
      undersokningsstatustyp_id:
        type: integer
        description: Anger identiteten för angiven undersokningsstatus.
        example: 1
      undersokningsstatus_kommentar:
        type: string
        description: Anger kommentar till lämningens angivna undersokningsstatus.

  Undersokningsstatustyp:
    description: Objektrepresentation för en undersökningsstatustyp.
    type: object
    properties:
      undersokningsstatustyp_id:
        type: integer
        description: Anger stabil identitet för undersökningsstatustypen.
        example: 1
      namn:
        type: string
        description: Anger namnet för angiven undersökningsstatustyp (lämpligt för
          presentation). 
        example: Helt undersökt
      beskrivning:
        type: string
        description: Anger beskrivning för angiven undersökningsstatustyp. (lämpligt för hjälptext).
        example: Helt undersökt (och borttagen)
      sorteringsordning:
        type: integer
        description: Anger logisk ordning. (Ascending sortorder)
        example: 30
      aktiv:
        type: boolean
        description: Anger om undersökningsstatustypen är aktiv (true) och kan användas vid
          registrering.
        example: true  
        
  Uppgiftslamnare:
    description: Objektrepresentation för en uppgiftslamnare referens.
    type: object
    properties:
      namn:
        type: string
        maxLength: 300
        description: Anger namnet på uppgiftslämnaren.
        example: Bengt Andersson
  
  FeatureCollectionFaltsessionomrade:
    description: Anger geografisk utbredning för en yta i en fältsession.
      (Härstammar från ett s.k. undersökningsområde).
      Ytan anges i form av ett objekt av typen
      "http://geojson.org/geojson-spec.html#feature-collection-objects". Den
      geometrityp som ska anges ska vara av någon av typerna;
      <br>
      - Polygon ("http://geojson.org/geojson-spec.html#polygon")<br>
      - Multipolygon ("http://geojson.org/geojson-spec.html#multipolygon")<br>
      - Linestring ("http://geojson.org/geojson-spec.html#linestring")<br>
      - MultiLinestring ("http://geojson.org/geojson-spec.html#multilinestring")<br>
      <br>
      Undantag kastas om någon annan geometrityp skickas in. <br><br>
      OBS. Swagger kan inte i dagsläget uttrycka GeoJSON fullt ut. En anledning
      är att coordiantes för typen MultiPolygon består av en till nivå och
      Swagger klarar inte av oneOf i schemabeskrivning. Därfär är den vanligate
      användingsfallet med Polygon speccat även fast MultiPolygon stöds. Detta
      medför att Swagger Editor gör fel om ett område med MultiPolygon klistras
      in.
    type: object
    required:
      - type
    additionalProperties: true
    properties:
      type:
        type: string
        enum:
          - FeatureCollection
      crs:
        type: object
        required:
          - type
        properties:
          type:
            type: string
            enum:
              - name
          properties:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: 'Anger koordinatystem för fältsessionens yta.'
                example: EPSG:3006
      features:
        type: array
        items:
          type: object
          required:
            - type
          properties:
            type:
              type: string
              enum:
                - Feature
            properties:
              type: object
              additionalProperties: true
            geometry:
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - Polygon
                    - MultiPolygon
                    - LineString
                    - MultiLineString
                coordinates:
                  additionalProperties: true
                  type: array
                  items:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
