swagger: '2.0'
info:
  version: 0.1.0
  title: Metria Fältregistrering API
  description: API för integration mellan "Fornreg/Lämningsregistret" och "Fältregistreringstjänsten" som byggs av Metria
  contact:
    url: https://metria.se
    email: todo@metria.se
host: metria.se
schemes:
  - https
basePath: /raa-faltreg-api/v1
paths:
  /projekt:
    post:
      summary: Skapa ett fältregistreringsprojekt
      description: Skapa ett fältregistreringsprojekt
      parameters:
        - name: projekt
          in: body
          required: true
          schema:
            $ref: '#/definitions/Projekt'
      produces:
        - application/json
      responses:
        '201':
          description: URL till projekt
          headers:
            Location:
              type: string
              description: Anger relativ uri till projektposten. Exempel, /projekt/dd179942-9381-48d0-91cf-da00a362f4b9
          schema:
            $ref: '#/definitions/Projekt'
        '400':
          description: Projektet finns redan.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Projekt
  
  /organisation/{organisationsid}/projekt:
    get:
      summary: Lista alla fältregistreringsprojekt
      description: Skapa ett fältregistreringsprojekt
      parameters:
        - name: organisationsid
          in: path
          required: true
          type: string
          description: Organisationens orgnr inkl. prefix (16) för juridiskperson. Personnummer för enskild firma.
      produces:
        - application/json
      responses:
        '200':
          description: Lista med fältprojekt registrerade för angiven organisation
          schema:
            type: array
            items:
              $ref: '#/definitions/Projekt'
        '404':
          description: Organisationen finns inte.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Projekt
  
  /projekt/{projektid}:
    get:
      summary: Hämta ett fältregistreringsprojekt
      description: Hämta ett fältregistreringsprojekt
      parameters:
        - name: projektid
          in: path
          required: true
          type: string
          description: UUID för ett projekt
      produces:
        - application/json
      responses:
        '200':
          description: Ett fältregistreringsprojekt
          schema:
            type: array
            items:
              $ref: '#/definitions/Projekt'
        '404':
          description: Projektet finns inte.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Projekt
    delete:
      summary: Radera ett fältregistreringsprojekt
      description: Radera ett fältregistreringsprojekt
      parameters:
        - name: organisationsid
          in: path
          required: true
          type: string
          description: Organisationens orgnr inkl. prefix (16) för juridiskperson. Personnummer för enskild firma.
        - name: projektid
          in: path
          required: true
          type: string
          description: UUID för ett projekt
      responses:
        '204':
          description: Projektet raderat. Inget innehåll returneras.
        '404':
          description: Projektet finns inte.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Projekt
  
  /lamning/{projektid}:
    get:
      summary: Hämtar lista med uppdaterade lämningar
      description: Hämta en lista som innehåller lämningar som uppdaterats samt nyregistrerats i fält
      parameters:
        - name: projektid
          in: path
          required: true
          type: string
          description: UUID för ett projekt
      produces:
        - application/json
      responses:
        '200':
          description: En lista med lämningar
          schema:
            type: array
            items:
              $ref: '#/definitions/Lamning'
        '404':
          description: Projektet finns inte.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
    post:
      summary: Lägger till befintliga lämningar till ett fältprojekt
      description: Lägger till lämningar till ett fältprojekt
      parameters:
        - name: projektid
          in: path
          required: true
          type: string
          description: UUID för ett projekt
      produces:
        - application/json
      responses:
        '200':
          description: En lista med lämningar
          schema:
            type: array
            items:
              $ref: '#/definitions/Lamning'
        '404':
          description: Projektet finns inte.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Lämning
  
  /metadata:
    post:
      summary: Laddar upp metadata att användas vid fältregistrering av lämningar
      description: Laddar upp metadata att användas vid fältregistrering av lämningar
      parameters:
        - name: metadata
          in: body
          required: true
          schema:
            $ref: '#/definitions/Metadata'
      responses:
        '204':
          description: Metadata mottaget. Inget innehåll returneras.
          schema:
            type: string
        '500':
          description: (Internal server error). Ett oväntat fel inträffade.
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Metadata

definitions:
  
  Projekt:
    description: Fältregistreringsprojekt
    type: object
    required:
      - organisationsid
      - namn
      - beskrivning
    properties:
      organisationsid:
        type: string
        example: '165544332211'
        description: Ett organisationsnummer
      namn:
        type: string
        example: 'Qwerty'
        description: Projektnamn
      beskrivning:
        type: string
        example: 'Ett fältprojekt'
        description: Kort beskrivning av projekt
      projektyta:
        $ref: '#/definitions/Geometri'
  
  Metadata:
    description: Metadata för lämningar
    type: object
  
  Lamning:
    description: En lämningspost med attribut som kan registreras i fält
    type: object
    required:
      - id
      - lamningsnummer
      - lamningstyp_id
      - geometri
    properties:
      id:
        type: string
        example: 'db14a4ed-1696-4ec5-b55d-0b3a44858765'
      lamningsnummer:
        type: string
        example: 'L2018:123'
      lamningstyp_id:
        type: integer
        example: 14
      geometri:
        type: array
        items: 
          $ref: '#/definitions/Geometri'
      ingaende_lamning:
        type: array
        items:
          $ref: '#/definitions/IngaendeLamning'
  
  IngaendeLamning:
    description: Ingående lämning
    type: object
      
  Geometri:
    description: >-
      Geometrier uttryckta i geoJSON formatet och benämns som GeoJSON[2008]. Se
      specifikationen http://geojson.org/.
    type: object
    required:
      - type
      - coordinates
    properties:
      type:
        type: string
        enum:
          - Point
          - Linestring
          - Polygon
        example: Point
      crs:
        type: object
        required:
          - type
        properties:
          type:
            type: string
            enum:
              - name
          properties:
            type: object
            required:
              - name
            properties:
              name:
                description: Anger koordinatsystemet för geometrierna
                type: string
                example: 'EPSG:3006'
      coordinates:
        additionalProperties: true
        type: array
        items:
          type: array
          items:
            type: array
            example:
              - 57.6353939
              - 18.2954135
            items:
              type: number
  
  Error:
    description: Ett fel
    type: object
    required:
      - status
      - message
      - path
      - timestamp
    properties:
      status:
        type: integer
        example: 500
        description: Http statuskod
      message:
        type: string
        example: 'Tekniskt fel, försök senare'
        description: Innehåller ett felmeddelande tänkt att presenteras för slutanvändare
      exception:
        type: string
        example: java.lang.NullPointerException
        description: Innehåller ett felmeddelande tänkt för tekniker vid felsökning
      path:
        type: string
        example: /lamning
        description: Anger den resourcepath där felet uppstod
      timestamp:
        type: string
        example: '1990-12-31T23:59:60Z'
        format: dateTime
        description: >-
          Anger tidpunkten när felet inträffade. Tidpunkt angiven som date-time,
          se RFC3339 (Internet Date/Time Format)
